{
    "id": "BOT ID",
    "secret": "BOT SECRET",
    "token": "BOT TOKEN",
    "storage": {
        "type": "redis",
        "host": "localhost",
        "user": "user",
        "pass": "pass",
        "port": "6379"
    }
}
